/student - Найти студента по имени
Для этого нужно ввести известную вам информацию о человеке  
это может быть что-то одно из списка
Фамилия, Имя, Отчество либо несколько, так поиск будет точнее
/group - Вывести список группы по номеру нужно ввести номер группы
/variant - Найти людей по варианту

Числа в соотвествии с факультетом
1 - фкио
2 - машфак
3 - фмп
4 - экономфак
5 - специалитет фкио, машфака и фмп
6 - специалитет фкио
7 - фенго
20 - фцпт
8 - колледж
9 - аспирантура