Привет!
Это IsuInfoBot для поиска информации с ису
Здесь можно найти из какой группы человек или
найти людей по номеру варианта на ису
Команды бота:
/start - приветственное сообщение
/help - справка
/group - в какой группе студент
/variant - студенты с таким вариантом