Привет!
Это IsuInfoBot для поиска информации с ису
Здесь можно найти из какой группы человек или
найти людей по номеру варианта на ису
Команды бота:
/start - приветственное сообщение
/help - справка
/group - список конкретной группы
/student - студенты с таким именем
/variant - студенты с таким вариантом